<%= form_with model: task, local: true do |f| %>
  <% if task.errors.any? %>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, form_enums('status') %>
  </div>

  <div>
    <%= f.label :priority %>
    <%= f.select :priority, form_enums('priority') %>
  </div>

  <div>
    <%= f.label :start_at %>
    <%= f.datetime_field :start_at %>
  </div>

  <div>
    <%= f.label :end_at %>
    <%= f.datetime_field :end_at %>
  </div>
  
  <div>
    <%= f.submit t('task.submit', action: action) %>
  </div>
<% end %>