<%= form_with model: task, local: true do |f| %>
  <% if task.errors.any? %>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control mb-2' %>
  </div>
  
  <div>
    <%= f.label :content, class: 'form-label' %>
    <%= f.text_area :content, class: 'form-control mb-2', row: '3' %>
  </div>

  <div>
    <%= f.label :status, class: 'form-label' %>
    <%= f.select :status, form_enums('status'), {}, class: 'form-select mb-2' %>
  </div>

  <div>
    <%= f.label :priority, class: 'form-label' %>
    <%= f.select :priority, form_enums('priority'), {}, class: 'form-select mb-2' %>
  </div>

  <div>
    <%= f.label :start_at, class: 'form-label' %>
    <%= f.datetime_field :start_at, class: 'form-select mb-2' %>
  </div>

  <div>
    <%= f.label :end_at, class: 'form-label' %>
    <%= f.datetime_field :end_at, class: 'form-select mb-2' %>
  </div>

  <div>
    <%= f.label :tag_list, t('tag_list'), class: 'form-label' %>
    <%= f.text_field :tag_list, class: 'form-control mb-2' %>
  </div>
  
  <div>
    <%= f.submit t('task.submit', action: action), class: 'btn btn-info my-2' %>
  </div>
<% end %>