<%= form_with model: task, local: true do |f| %>
  <% if task.errors.any? %>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :title, t('task.title') %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :content, t('task.content') %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= f.submit t('task.submit', action: action) %>
  </div>
  
<% end %>