<%= form_with model: task, local: true do |f| %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
  
<% end %>