<h1><%= link_to t('tasks.list'), root_path %></h1>

<small>排序方式：<%= link_to t('task.created_at'), tasks_path(sort_by: 'created_at desc') %> |
               <%= link_to t('task.end_at'), tasks_path(sort_by: 'end_at') %> |
               <%= link_to t('task.priority'), tasks_path(sort_by: 'priority desc') %>
</small>

<%= search_form_for @q do |f| %>
  <%= f.search_field :title_cont %>
  <%= f.search_field :tags_name_cont %>
  <%= f.select :status_eq, search_enums('status') %>

  <%= f.submit %>
<% end %>

<div>
  <% @tasks.each do |task| %>
    <div class='task'>
      <h3><%= link_to task.title, task_path(task.id) %></h3>
      <small><%= t_enum("status", task.status) %> </small> |
      <small><%= t_enum("priority", task.priority) %> </small> |
      <%= task.content %> |
      <%= task.start_at.strftime("%m-%d-%Y") %> |
      <%= task.end_at.strftime("%m-%d-%Y") %> |
      <%= link_to t('edit'), edit_task_path(task.id) %> |
      <%= link_to t('delete'), task_path(task.id), method: 'delete' %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to t('add'), new_task_path %>
</div>
<%= paginate @tasks %>

<%= link_to '登出', users_log_out_path, method: :delete %>
