<h2 class='my-3'>
  <%= @task.title %>
</h2>
<p class='my-3'><%= @task.content %></p>
<ul>
  <li>
    <%= t('task.start_at') %>： <%= @task.start_at.strftime('%m-%d-%Y') %>
  </li>
  <li>
    <%= t('task.end_at') %>： <%= @task.end_at.strftime('%m-%d-%Y') %>
  </li>
</ul>
<div class="my-2">
  <%= lineless_link_to(t('return'), tasks_path) %>
</div>
