<h1>修改使用者</h1>

<%= form_with model: @user, url: users_sign_up_path ,local: true do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.submit t('edit') %>
  </div>
<% end %>