<h1><%= link_to t('users.list'), admin_users_path %></h1>

<div>
  <% @users.each do |user| %>
    <div class='users'>
      <h3><%= link_to user.name, admin_user_path(user.id) %></h3>
      <%= user.tasks.count %> |
      <%= link_to t('edit'), edit_admin_user_path(user.id) %> |
      <%= link_to t('delete'), admin_user_path(user.id), method: 'delete' %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to t('add'), new_admin_user_path %>
</div>


<%= link_to '登出', users_log_out_path, method: :delete %>
