<!DOCTYPE html>
<html>
  <head>
    <title>Botask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    <div class='container-fluid d-flex p-0'>
      <% if current_user.present? %>
        <div class="col-2 sidebar">
          <%= render 'shared/sidebar' %>
        </div>
      <% end %>
      <div class="col-10 pl-5">
        <%= yield %> 
      </div>   
    </div>
  </body>
</html>
